 /*----------------------KONTENERY------------------------*/
#superContainer{
	width:90%;
	/background-color:#de4a2a;
	border-bottom:1px solid black;
	/border-top:1px solid black;
	margin-left:auto;
    margin-right:auto;
}
#container{
	background-color:white;
	margin:5px 10px;
}

/*----------------------TYTUŁ------------------------*/
#top {
	text-align:center;
	font-size:1em;
    padding:2px;
	border-bottom:1px solid black;
}
#image{
	width:100px;
	height:100px;
	padding:20px;	
	float:left;
	display:none;
 }
 /*---------------------PODPIS-------------------------*/
#sub{
	color:black;
	text-align:left;
	padding:10px;
	font-size:1.3em;
	
}

/*----------------------MENU NAWIGACJA------------------------*/
#toggleMenu{
	color:#de4a2a;
	text-align:right;
	font-size:1.5em;
	width: 100%;
	background-color:white;
	border:solid 2px #de4a2a;	
	display:block;	
	margin:0px 0px 2px 3px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#toggleMenu:hover{
	border:solid 2px #de4a2a;
	background-color:#d0d0d0;
}
#leftMenu{	
    line-height:40px;	
    width:99%;	
}
#list{
	display:none;
	font-family: "Verdana";
	list-style-type:none;
	text-indent:3px;
	margin:0px 0px 0px -40px;
	
}
#nav.leftMenu, a:link, a:visited {
    background-color:rgb(245,245,245);
    color:black;
	width:100%;
    text-align:left;	
    text-decoration:none;
    display:inline-block;
}

#nav.leftMenu, a:active {
    background-color:#de4a2a;
	color:white;
	clear:both;
}

#nav.leftMenu, a:hover {
    background-color:black;
	color:white;
	clear:both;
}
a.currentLink{
	background-color:#de4a2a;
	color:white;
	clear:both;
}
/*----------------------TREŚĆ ARTYKUŁU------------------------*/
#content {
    width:100%;
    float:right;
	margin-top:-20px;
}
.textHeaders{
	font-size:2em;
}
.text{
	font-family: "Verdana";
}
#aside, code{
	width:100%;
	background-color:rgb(230,230,230);
	display:inline-block;
	float:left;
	margin-top:-10px;
	width:97%;
}
#calculate{
	color:#de4a2a;
	text-align:left;
	font-size:1.5em;
	width: 25%;
	background-color:white;
	border:solid 2px #de4a2a;	
	display:block;	
	margin:10px 0px 2px 3px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#calculate:hover{
	background-color:#fe7a4a;
	color:white;
}

/*----------------------STOPKA------------------------*/
#footer {
    clear:both;
    text-align:left;
    padding:5px;
}
p{
	display:inline
}
.panel{
	padding:10px
}
.cytat{
	background:#e5f7fb;
	border:1px solid #ddd;
	margin-top:1em;
	border-radius:15px
}
.right{
	text-align:right
}

@media screen and (min-width: 845px){
	#superContainer{
		max-width:940px;
		width:90%;
	}
	#container{
		margin:10px 20px;
	}
	#top{
		text-align:center;
		font-size:1.7em;
	}
	#image{
		display:block;
	}
	#toggleMenu{
		display:none;
	}
	#leftMenu{
		/width:33%;	
		/float:left;
		display:block;
	}
	#list{
		display:block;	
	}
	
	#content{
		/width:66%;
	}
}